<div class="body7 small-offset-3 columns">
  <div class="row">		
    <div class="small-8  columns">
	  <h1><%= @instrument.name.capitalize %> songs</h1>
		    
<%= form_tag({controller: "songs", action: "found_songs"}, {method: :post}) do %>
	<%= text_field_tag(:title,"", placeholder: "Buscar por título", size: "24x6") %>
	<%= submit_tag("Buscar", class: 'search') %>
<% end %>
<%= form_tag({controller: "songs", action: "found_songs"}, {method: :post}) do %>
	<%= text_field_tag(:songwriter,"", placeholder: "Buscar por autor", size: "24x6") %>
	<%= submit_tag("Buscar", class: 'search2') %>
<% end %>
			
		</div>
	</div>	

	<div class="row">		
		<div class="small-12  columns">
			<table id="found_songs">
		    <tr>
			  <td><b>Song</b></td>
			  <td><b>Artist</b></td>
		    </tr>
		    <% @songs.each do |song| %>
			    <tr>
			      <td><%= link_to song.title, song_found_path(song.id) %></td>
			      <td><%= song.songwriter %></td>
			      <% if current_user && current_user.has_role?(:admin) %>
			  	    <td><%= link_to(" Delete", instrument_song_path(@instrument, song), method: "delete", data: {confirm: "Are you sure?"}) %></td>
			  	  <% end %>
			    </tr>
		    <% end %>
		</table>
			<%= button_to('Add song', new_instrument_song_path, method: :get) %>
			<br>
			<br>
			<br>
			<% if current_user && current_user.has_role?(:admin) %>
				<%= button_to('Delete instrument', instrument_path(@instrument.id), method: :delete) %>
			<% end %>	
		</div>
	</div>		
</div>	
