<script src='/assets/jquery.transit.min.js'></script>
<script src="/assets/toggle.js"></script>
<style type="text/css">
	.sheet img {
		border: 2px solid black;
		height: 100%;
		border-radius: 10%;
	}
</style>
<div class="small-offset-4 collums">
	<% @song.music_sheets.each do |sheet| %>
			<% if sheet.sheet_file_content_type == "application/pdf" %>
				<div class="sheet">
					<%= link_to image_tag("/images/adobe.jpg"),"#", data: {:'reveal-id' => 'sheet_shown' +  sheet.id.to_s}, :id => 'show_me' + sheet.id.to_s %> </p>
				</div>
			<% else %>
				<div class="sheet">
				<%= link_to image_tag(sheet.sheet_file),"#", data: {:'reveal-id' => 'sheet_shown' +  sheet.id.to_s}, :id => 'show_me' + sheet.id.to_s %>
				</div>
			<% end %>
	<% end %>		
		
</div>

                       
       
<div>
	<% @song.music_sheets.each do |sheet| %>
         <div id="sheet_shown<%= sheet.id%>" class="reveal-modal medium" data-reveal>
              <%= render file: '/songs/show_sheet', :locals => {asheet: sheet} %>
              <a class="close-reveal-modal">&#215;</a>
         </div>
         <script type="text/javascript">
         	id_of_sheet(<%= sheet.id %>)
         </script>
    <% end %>
</div>
