<% if flash[:alert] %>
<div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= form_tag(controller: "songs", action: "create", method: "post") do %>
<%= text_field_tag(:song_title,"", placeholder:"Song title...", size: "24x6") %>
<%= text_area_tag(:youtube_link,"", placeholder:"Youtube link...") %>
<%= radio_button_tag(:song_category,"Classical") %><%= label_tag("Classical") %>
<%= radio_button_tag(:song_category,"Rock") %><%= label_tag("Rock") %>
<%= radio_button_tag(:song_category,"Jazz") %><%= label_tag("Jazz") %>
<%= radio_button_tag(:song_category,"Blues") %><%= label_tag("Blues") %>
<%= submit_tag("Submit") %>
<% end %>

