<%= form_tag(controller: "songs", action: "create", method: "post") do %>
	<%= text_field_tag(:song_title,"", placeholder:"Song title...", size: "24x6") %>
	<%= text_area_tag(:youtube_link,"", placeholder:"Youtube link...") %>
	<% @categories.each do |category| %>
		<%= radio_button_tag(:song_category, category.name ) %><%= label_tag(category.name) %>
	<% end %>	
	<h1>Tags </h1>
	<%= check_box(:song_tag1, "Cool", {}, 'Cool', "no") %> <%= label_tag("Cool") %>
	<%= check_box(:song_tag2, "Long", {}, 'Long', "no") %> <%= label_tag("Long") %>
	<%= check_box(:song_tag3, "Weird", {}, 'Weird', "no") %> <%= label_tag("Weird") %>
	<%= submit_tag("Submit") %>
<% end %>


