<h1>Music App</h1>
<div>
<%= form_tag({controller: "instrument", action: "index"}, {method: "get"}) do %>
<%= hidden_field_tag(:instrument, "saxo") %> 
<%= image_submit_tag('/saxophone-icon.png', width:"100px") %>
<% end %>
<br>
</div>
<div>
<%= form_tag({controller: "instrument", action: "index"}, {method: "get"}) do %>
<%= hidden_field_tag(:instrument, "piano") %> 
<%= image_submit_tag('/g3088.png', width:"100px") %>
<% end %>
<br>
</div>
<div>
<%= form_tag({controller: "instrument", action: "index"}, {method: "get"}) do %>
<%= hidden_field_tag(:instrument, "guitar") %> 
<%= image_submit_tag("/guitar.png", width:"100px") %>
<% end %><br>
</div>