<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP//AAD9/wAA/v8AAP9/AAD/vwAA/98AAPjXAAD03wAA99cAAPu/AAD8fwAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
</head>
<body>
  <!-- <div class="body"> -->
    <div id="container">
   <!--  <div class="topbar "> -->
      <div id="user_nav" class="icon-bar three-up">
        <% if user_signed_in? %>
          Logged in as <span><%= current_user.username %></span>.
          <%= link_to image_tag(('/images/logo4.png'), class: 'img_home'), root_path, method: :get, class: 'home' %> |
          <%= link_to 'Edit profile', edit_user_registration_path, html_options = {class: "login"} %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "login" %> 
           
        <% else %>
          <%= link_to image_tag(('/images/logo4.png'), class: 'img_home'), root_path, method: :get, class: 'home item' %> |

            <%= link_to "Register", '#', class: "login item", data: {:'reveal-id' => 'registerModal'}, :id => 'modal2'%> |

            <%= link_to "Login", '#', class: "login item", data: {:'reveal-id' => 'loginModal'}, :id => 'modal' %> 
          
             
        <% end %>
         <div id="registerModal" class="reveal-modal medium" data-reveal>
              <%= render file: '/devise/registrations/new' %>
         </div>
              
          <div id="loginModal" class="reveal-modal medium" data-reveal>
            <%= render file: '/devise/sessions/new' %>
            <a class="close-reveal-modal">&#215;</a>
          </div>
      </div>



              <!-- <span class="topbarlogo"> MusicApp&reg;, developed with love and patience </span> -->
<!--       </div> -->


      

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <%= yield %>
  
   </div> 
  <!-- </div> 
 -->
 <%= javascript_include_tag 'application' %>

</body>
</html>
